<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <div class="top-bar">
    <div class="top-left">
      <span><i class="fa-regular fa-comment-dots"></i> cama.electric.20@gmail.com</span>
      <span><i class="fa-solid fa-phone"></i> +591 76108320</span>
      <span><i class="fa-brands fa-whatsapp"></i> +591 76108320</span>
    </div>

    <div class="top-logo">
      <img src="../img/logo.png" alt="Logo CAMA S.R.L.">
    </div>

    <div class="top-right">
      <a href="https://www.facebook.com/CamaElectric/?locale=es_LA" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>

      <form class="search-form" action="/buscar">
        <input type="text" name="q" placeholder="Buscar..." required>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </div>

  <nav>
    <a href="../index.html"><i class="fa-solid fa-house"></i><span>Inicio</span></a>
    <a href="../ventanas/nosotros.html"><i class="fa-solid fa-building"></i><span>Nosotros</span></a>
    <a href="../ventanas/servicios.html"><i class="fa-solid fa-screwdriver-wrench"></i><span>Servicios</span></a>
    <a href="../ventanas/proyectos.html"><i class="fa-solid fa-diagram-project"></i><span>Proyectos</span></a>
    <a href="../ventanas/contacto.html"><i class="fa-solid fa-envelope-open-text"></i><span>Contacto</span></a>
  </nav>
</header>
</header>
